body {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #4285F4;
  border-radius: 0;
  border: 0;
}

.navbar-brand h1 { /* Restaurant name */
  color: #ffffff;
  font-size: 1.5em;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #fff;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #fff;
}

#main-content {
  margin: 16px;
}

#chicken {
  background-color: #AA66CC;
  height: 2560px;
  padding: 0 32px;
  overflow: hidden;
}

@media (max-width: 767px) {
  #main-content {
    margin: 16px 64px;
  }
}
